/* CSS Document */

body{
font-family: 'Poppins', sans-serif !important;
}


.custom-bg-img {
				background: url('https://paper.lyfetesting.online/public/assets/imgs/home-bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                margin-left: 5px;
                margin-right: 5px;
            }
			.custom-bg-img h1{
				color:#ffffff;
				text-align: center;
			}
            p.plarge {
                font-size: 30px;
                line-height: 40px;
            }
            .pr-8{
                padding-right:25px;
            }

.section-side-p{
	padding-left:50px !important;
	padding-right: 50px !important;
}

.section-content-center{
	margin:0px auto;
	display: table;
}

.primary-clr{
	color:#425E7A !important;
}

.header-top{
	background-color: #EAEAEA;
	color:#707070 !important
}

.header-middle{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.footer-mid{
	background-color: #425E7A !important;
}

.footer-mid h4{
	color:#ffffff !important;
	font-size:24px !important;
}

.footer-mid ul li{
	color:#ffffff !important;
}

.footer-mid ul li a{
	color:#ffffff !important;
}

.footer-copyright{
	background-color: #425E7A !important;
}

.footer-copyright p{
	color:#ffffff !important;
}

.vendor-wrap .vendor-img-action-wrap img {
    max-width: 300px !important;
}

.vendor-wrap {
    border: 1px solid #425E7A !important;
	border-radius: 2px !important;
}

.product-feature-list{
	margin-top: 15px;
}

.product-feature-list li{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top:20px;
}

.product-feature-list li span{
	font-size: 13px;
	color:#FDC144 !important;
}

.product-feature-list img{
	padding-right: 20px;
}

.color-swatches{
	list-style: none;
	margin-top:15px;
}

.color-swatches li{
	float: left;
	padding:15px;
	border-radius: 50% !important;
	margin-left: 10px;
	border:1px solid #333
}

.product-cart-wrap .product-img-action-wrap{
	padding:0px !important
}

.product-cart-wrap .product-img-action-wrap .product-img{
	border-radius:0px !important
}

.contact-from-area .contact-form-style input{
	border-radius: 0px !important;
}

.contact-from-area .contact-form-style textarea{
	border-radius: 0px !important;
}

.contact-from-area .contact-form-style button{
	background: #425E7A !important;
    border: 1px solid #425E7A !important;
}

/* Product Page Styling */


.detail-gallery .product-image-slider{
	border-radius:0px !important
}

.slider-nav-thumbnails .slick-slide img{
	border-radius: 0px !important
}

.slider-nav-thumbnails .slick-slide{
	border-radius: 0px !important
}

.prod-desc h5{
	margin-top:40px !important;
}

.prod-features li{
	display: flex !important;
	align-items: center !important;
	background: #425E7A !important;
	color: #fff !important;
	padding: .5rem !important;
	border-radius: .2rem !important;
}

.prod-requirements h5{
	background-color: #425E7A;
    padding: 10px 10px 10px 25px;
    border-radius: 5px;
    color: #000;
	text-align:center;
}

.prod-requirements h5:active{
	transform: scale(.96)
}

.accordion-header{
	background-color: #425E7A;
	border:1px solid #425E7A;
	margin-bottom: 5px !important;
	border-radius: 5px !important;
}

.accordion-header button{
	color:#ffffff;
}

.accordion-button:not(.collapsed) {
    color: #ffffff !important;
    background-color: #425E7A !important;
	border-radius: 5px !important;
}

.accordion-button{
	border:none !important;
	border-radius:5px !important;
}

.accordion-button:focus{
	border:none !important;
	border-color:#fff !important;
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%)  !important;
}

.accordion-collapse{
	border:none !important;
}
.bag-sizes-container{
	display:flex !important;
	flex-wrap:wrap !important;
	align-items:flex-start !important;
	justify-content:flex-start !important;
	margin:10px 0 !important;
}

.bag-sizes{
	display:flex !important;
	flex-direction:column !important;
	align-items:flex-start !important;
	justify-content:flex-start !important;
	margin: 10px !important;
	max-width: 190px;
}

.image-container{
	border: 1px solid #aaa !important;
	padding:10px 15px !important;
	border-radius: 5px !important;
}

.sizes-container > p{
	font-size:12px !important;
}

.bag-size img{
	border:1px solid #707070;
}

.bag-size p{
	font-size:14px !important;
}

.bag-color img{
	border:1px solid #707070;
}

.bag-color p{
	font-size:14px !important;
}

.print-color img{
	border:1px solid #707070;
	margin:0px auto !important;
	display: table
}

.print-color p{
	font-size:14px !important;
	margin-top:10px;
		color:#000 !important;
}

.popup-btn{
	color:#2C2D2E !important;
	cursor:pointer !important;
	margin-left:15px !important;
}
.popup-container{
	display:flex !important;
	align-items:flex-start !important;
}

.popup-btn:active{
	transform: scale(.98) !important;
}

.print-color select{
	border:1px solid #707070;
	width:300px;
	height: 40px;
}

.print-color-buttons label{
	background: #FDC040;
    border: 1px solid #FDC040;
    padding: 10px 35px 10px 35px;
    color: #ffffff;
	width:100%;
	text-align:center !important;
	cursor: pointer !important;
}

.print-color-buttons label:active{
	transform: scale(.96)
}

.print-color-buttons input[type="file"]{
	display:none
}

.contact-details input{
	border-radius:0px !important;
}

.contact-details textarea{
	border-radius:0px !important;
}

.contact-details button{
	background: #425E7A;
    border: 1px solid #425E7A;
    color: #ffffff;
    width: 100%;
    padding: 10px;
}

.header-style-1 .search-style-2 form {
    border: 2px solid #425E7A !important;
}

.quantity-filter li input{
 cursor: pointer !important;
}
.quantity-filter label {
  padding: 10px 20px 10px 20px;
  background: transparent !important;
  border: 1px solid #425E7A !important;
  border-radius:10px !important;
  color: #425E7A !important;
 
}

.quantity-filter input[type="radio"]:checked+label,
.Checked+label {
  background: #425E7A !important;
	color:#ffffff !important;
	border: 1px solid #425E7A !important;
}

#scrollUp {
    width: 32px;
    height: 32px;
    color: #ffffff !important;
    right: 30px;
    bottom: 30px;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    z-index: 999 !important;
    border: 1px solid #ffffff !important;
    background-color: #425E7A !important;
}

.quote-error-message{
	background: #dc3545;
    color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.wrapper {
    max-width: 600px;
    width: 100%;
    margin: 10vh auto;
}

.wrapper input {
    display: none;
}

.wrapper label {
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 3px solid #425E7A;
    user-select: none;
	border-radius:5px !important;
}

.wrapper label div:first-child {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-size: 1.2em;
}

.wrapper label > div{
	color:#425E7A;
}

.cross{
    margin-right:15px;
    margin-top:3px;
}

.cross:before,.cross:after {
    content: '';
    border-top: 2px solid #425E7A;
    width: 15px;
    display: block;
    margin-top: 18px;
    transition: 0.3s;
}

.cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}

.content {
    box-sizing: border-box;
    font-size: 0.9em;
    margin: 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
}

.wrapper input:checked ~ .content {
    max-height: 400px;
    transition: max-height, 1s;
}

.wrapper input:checked ~ label .cross:before {
    transform: rotate(180deg);
}

.wrapper input:checked ~ label .cross:after {
    transform: rotate(0deg);
}

.questions{
    margin-top:20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
}

.questions label{
    border:none;
    box-shadow: none;
    margin:0;
}

.wrapper input:checked ~ .questions {
    max-height: 400px;
    border-bottom:2px solid #3E474F;
    transition: 1s;
}

/*----------tool-tip------------*/

.tip {
    color: #f03768;
    cursor: help;
    position: relative;
    overflow: visible;
    font-family: monospace;
    font-size: 1.3em;
}

.tip:before,
.tip:after {
    position: absolute;
    opacity: 0;
    z-index: -100;    
    transform: translateY(-30%);
    transition: .4s;
}

.tip:before {
    content: '';
    border-style: solid;
    border-width: 0.8em 0.5em 0 0.5em;
    border-color: #3E474F transparent transparent transparent;
    transform: translateY(-200%);
    bottom:90%;
    left:50%;
}

.tip:after {
    content: attr(data-tip);
    background: #425E7A;
    color: white;
    width: 150px;
    padding: 10px;
    font-size: 0.8em;
    bottom: 150%;
    left: -50%;
}

.tip:hover:before,
.tip:hover:after {
    opacity: 1;
    z-index: 100;
    transform: scaleY(1);
}

body{
overflow-x:none !important;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #16a34a;
  border-radius: 0.25em;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}
.button:hover {
  background-color: #17ac4e;
}

.details-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  pointer-events: none;
  position: fixed;
	top:50%;
	left:50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
	z-index: 9999999999999999 !important;
}
.details-modal .details-modal-close {
  align-items: center;
  color: #111827;
  display: flex;
  height: 4.5em;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;
}
.details-modal .details-modal-close svg {
  display: block;
}
.details-modal .details-modal-title {
  color: #111827;
  padding: 1.5em 2em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
}
.details-modal .details-modal-title h1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
.details-modal .details-modal-content {
  border-top: 1px solid #e0e0e0;
  padding: 20px;
  pointer-events: all;
  overflow: auto;
}

.details-modal-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
z-index:999999999999;
}
details[open] .details-modal-overlay {
  pointer-events: all;
  opacity: 0.5;
}

details summary {
  list-style: none;
}
details summary:focus {
  outline: none;
}
details summary::-webkit-details-marker {
  display: none;
}

.modal-container {
  text-align: left;
  max-width: 100%;
}
.modal-container > h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: normal;
  color: #111827;
}
.modal-container > p {
  margin-top: 2em;
  margin-bottom: 2em;
}
.modal-container sup {
  font-size: 1rem;
  margin-left: 0.25em;
  opacity: 0.5;
  position: relative;
}

.filter-container{
	display:flex;
	align-items:center;
	justify-content:flex-start;
}

.filter-container > li{
	margin-right:10px;
	cursor: pointer;
}

.filter-container > li > label{
	cursor: pointer;
}

.filter-container > li > input{
	width:0px;
}

.bag-size-modal-text{
flex:.6;
}

.bag-size-modal-text > p{
font-size:15px;
}

.bag-size-modal-container{
display:flex;
	align-items:flex-start;
	justify-content:flex-start;
}
.bag-size-modal{
width:60%;
}

.sizes-guide{
margin-top:20px;
}

.sizes-guide > p{
font-size:16px;
	color:#000;
}

.bag-sizes-control{
display:flex;
	align-items:flex-start;
	justify-content:flex-start;
	flex-direction:column;
	flex:.4;
}
.colors-explained-guide{
display:flex;
	align-items:flex-start;
	justify-content:flex-start;
}

.colors-explained-guide > div:not(:last-child){
	margin-right: 20px !important;
}

.colors-heading{
margin-top:20px !important;
	border-bottom:1px solid #eee;
}

.colors-modal{
	width:60%
}

.image-uploader-header > h1 {
	font-weight: 500 !important;
}
.image-uploader-container {
	display: flex !important;
	align-items: flex-start !important;
	justify-content: flex-start !important;
	width: 100% !important;
	position: relative !important;
	padding-top: 5rem !important;
}
.image-uploader-left {
	flex: 0.5 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	flex-direction: column !important;
	height: 55rem !important;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
	width: 100% !important;
	margin-right: 2rem !important;
}
.image-uploader-right {
	flex: 0.5 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: flex-start !important;
	flex-wrap: wrap !important;
}
.main-box {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24) !important;
}

.box {
	display: block !important;
	width: 20% !important;
	height: 150px !important;
	margin: 10px !important;
	margin-bottom: 5rem !important;
	background-color: white !important;
	border-radius: 5px !important;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
	position: relative !important;
}

.upload-options {
	position: absolute !important;
	bottom: -5rem !important;
	left: 50% !important;
	width: 5rem !important;
	height: 5rem !important;
	border-radius: 50% !important;
	transform: translate(-50%, -50%) !important;
	background-color: #425E7A !important;
	cursor: pointer !important;
	overflow: hidden !important;
	text-align: center !important;
	transition: background-color ease-in-out 150ms !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}
.upload-options:hover {
	background-color: #7fb1b3 !important;
}
.upload-options input {
	width: 0.1px !important;
	height: 0.1px !important;
	opacity: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	z-index: -1 !important;
}
.upload-options label {
	display: flex !important;
	align-items: center !important;
	width: 100% !important;
	height: 100% !important;
	font-weight: 400 !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	cursor: pointer !important;
	overflow: hidden !important;
}
.upload-options label::after {
	content: "+" !important;
	font-family: "Material Icons" !important;
	position: absolute !important;
	font-size: 2.5rem !important;
	color: #e6e6e6 !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	z-index: 0 !important;
}
.upload-options label span {
	display: inline-block !important;
	width: 100% !important;
	height: 100% !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	overflow: hidden  !important;
	vertical-align: middle !important;
	text-align: center !important;
}
.upload-options label span:hover i.material-icons {
	color: lightgray !important;
}

.js--image-preview {
	height: 100 !important
	width: 100% !important;
	position: relative !important;
	overflow: hidden !important;
	background-image: url("") !important;
	background-color: white !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	border-radius: 5px !important;
}
.js--image-preview:nth-child(2) {
	background-image: url("http://bastianandre.at/giphy.gif") !important;
}

i.material-icons {
	transition: color 100ms ease-in-out !important;
	font-size: 2.25em !important;
	line-height: 55px !important !important;
	color: white;
	display: block !important;
}

.drop {
	display: block !important;
	position: absolute !important;
	background: rgba(95, 158, 160, 0.2) !important;
	border-radius: 100% !important;
	transform: scale(0) !important;
}

.animate {
	-webkit-animation: ripple 0.4s linear !important;
	animation: ripple 0.4s linear !important;
}

@-webkit-keyframes ripple {
	100% {
		opacity: 0 !important;
		transform: scale(2.5) !important;
	}
}

@keyframes ripple {
	100% {
		opacity: 0 !important;
		transform: scale(2.5) !important;
	}
}

.bag-sizes{
	cursor:pointer !important;
	padding:10px !important;
	border-radius:3px !important;
}
.bag-sizes input{
	width:5rem !important;
}

.bag-sizes:hover{
	background: #eee !important;
}

.bag-sizes-active{
	background: #eee !important;
}

.imageContainer{
	width:100% !important;
	overflow:hidden !important;
}
.imageContainer > img{
	width:100% !important;
	object-fit:cover !important;
	background-position:center !important;
}

.quick-quote > img{
	width:250px !important;
	cursor:pointer !important;
}

