/* CSS Document */

body{
font-family: 'Poppins', sans-serif !important;
}

.product-table td{
	border:1px solid #ccc;
	height: 40px;
	padding-left:10px;
}

.image-uploader-header > h1 {
	font-weight: 500 !important;
}
.image-uploader-container {
	display: flex !important;
	align-items: flex-start !important;
	justify-content: flex-start !important;
	width: 100% !important;
	position: relative !important;
	padding-top: 5rem !important;
}
.image-uploader-left {
	flex: 0.5 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	flex-direction: column !important;
	height: 40rem !important;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
	width: 100% !important;
	margin-right: 2rem !important;
}
.image-uploader-right {
	flex: 0.5 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: flex-start !important;
	flex-wrap: wrap !important;
}


.box {
	display: block !important;
	width: 20% !important;
	height: 150px !important;
	margin: 10px !important;
	margin-bottom: 5rem !important;
	background-color: white !important;
	border-radius: 5px !important;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
	position: relative !important;
}

.ck > p{
	height:200px !important;
}

.main-box {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24) !important;
}

.upload-options {
	position: absolute !important;
	bottom: -5rem !important;
	left: 50% !important;
	width: 5rem !important;
	height: 5rem !important;
	border-radius: 50% !important;
	transform: translate(-50%, -50%) !important;
	background-color: #00a79d !important;
	cursor: pointer !important;
	overflow: hidden !important;
	text-align: center !important;
	transition: background-color ease-in-out 150ms !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}
.upload-options:hover {
	background-color: #7fb1b3 !important;
}
.upload-options input {
	width: 0.1px !important;
	height: 0.1px !important;
	opacity: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	z-index: -1 !important;
}
.upload-options label {
	display: flex !important;
	align-items: center !important;
	width: 100% !important;
	height: 100% !important;
	font-weight: 400 !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	cursor: pointer !important;
	overflow: hidden !important;
}
.upload-options label::after {
	content: "+" !important;
	font-family: "Material Icons" !important;
	position: absolute !important;
	font-size: 2.5rem !important;
	color: #e6e6e6 !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	z-index: 0 !important;
}
.upload-options label span {
	display: inline-block !important;
	width: 100% !important;
	height: 100% !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	overflow: hidden  !important;
	vertical-align: middle !important;
	text-align: center !important;
}
.upload-options label span:hover i.material-icons {
	color: lightgray !important;
}

.js--image-preview {
	height: 100 !important
	width: 100% !important;
	position: relative !important;
	overflow: hidden !important;
	background-image: url("") !important;
	background-color: white !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	border-radius: 5px !important;
}
.js--image-preview:nth-child(2) {
	background-image: url("http://bastianandre.at/giphy.gif") !important;
}

i.material-icons {
	transition: color 100ms ease-in-out !important;
	font-size: 2.25em !important;
	line-height: 55px !important !important;
	color: white;
	display: block !important;
}

.drop {
	display: block !important;
	position: absolute !important;
	background: rgba(95, 158, 160, 0.2) !important;
	border-radius: 100% !important;
	transform: scale(0) !important;
}

.animate {
	-webkit-animation: ripple 0.4s linear !important;
	animation: ripple 0.4s linear !important;
}

@-webkit-keyframes ripple {
	100% {
		opacity: 0 !important;
		transform: scale(2.5) !important;
	}
}

@keyframes ripple {
	100% {
		opacity: 0 !important;
		transform: scale(2.5) !important;
	}
}

@media screen and (max-width: 1282px) {
	.image-uploader-left {
		flex: 0.4 !important;
	}
	.image-uploader-right {
		flex: 0.6 !important;
	}
}
@media screen and (max-width: 1030px) {
	.box {
		width: 25% !important;
	}
	.image-uploader-right {
		justify-content: space-evenly !important;
	}
}
@media screen and (max-width: 886px) {
	.image-uploader-container {
		flex-direction: column !important;
	}
	.image-uploader-left {
		flex: 1 !important;
		width: 100% !important;
		margin: 0 !important;
		margin-bottom: 4rem !important;
	}
	.image-uploader-right {
		flex: 1 !important;
		width: 100% !important;
	}
	.main-box {
		height: 35rem !important;
	}
}
@media screen and (max-width: 545px) {
	.box {
		width: 40% !important;
	}
}
@media screen and (max-width: 320px) {
	.box {
		width: 100% !important;
	}
}